In [2]:

import pandas as pd

# Load data
train_data = pd.read_csv('./data/train.csv')
test_data = pd.read_csv('./data/test.csv')

# Impute NaN values
median_value = train_data['AlogP'].median()
train_data['AlogP'].fillna(median_value, inplace=True)
test_data['AlogP'].fillna(median_value, inplace=True)

In [3]:

from sklearn.preprocessing import PolynomialFeatures

# Create polynomial features
X = train_data.drop(columns=['id', 'SMILES', 'MLM', 'HLM'])
X_test = test_data.drop(columns=['id', 'SMILES'])

poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
X_poly = poly.fit_transform(X)
X_test_poly = poly.transform(X_test)

In [4]:

from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from catboost import CatBoostRegressor

# Define target variables
y_mlm = train_data['MLM']
y_hlm = train_data['HLM']

# Reduced hyperparameters for demonstration
param_dist_rf = {
    'n_estimators': [100],
    'max_depth': [10]
}

param_dist_gbr = {
    'n_estimators': [100],
    'learning_rate': [0.1]
}

param_dist_cat = {
    'iterations': [100],
    'learning_rate': [0.1],
    'depth': [10]
}

# Error handling for hyperparameter tuning
try:
    rf_mlm_search = RandomizedSearchCV(RandomForestRegressor(random_state=42), param_distributions=param_dist_rf, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    rf_mlm_search.fit(X_poly, y_mlm)
    best_rf_mlm_params = rf_mlm_search.best_params_
except:
    best_rf_mlm_params = {'n_estimators': 100, 'max_depth': 10}

try:
    rf_hlm_search = RandomizedSearchCV(RandomForestRegressor(random_state=42), param_distributions=param_dist_rf, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    rf_hlm_search.fit(X_poly, y_hlm)
    best_rf_hlm_params = rf_hlm_search.best_params_
except:
    best_rf_hlm_params = {'n_estimators': 100, 'max_depth': 10}

try:
    gbr_mlm_search = RandomizedSearchCV(GradientBoostingRegressor(random_state=42), param_distributions=param_dist_gbr, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    gbr_mlm_search.fit(X_poly, y_mlm)
    best_gbr_mlm_params = gbr_mlm_search.best_params_
except:
    best_gbr_mlm_params = {'n_estimators': 100, 'learning_rate': 0.1}

try:
    gbr_hlm_search = RandomizedSearchCV(GradientBoostingRegressor(random_state=42), param_distributions=param_dist_gbr, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    gbr_hlm_search.fit(X_poly, y_hlm)
    best_gbr_hlm_params = gbr_hlm_search.best_params_
except:
    best_gbr_hlm_params = {'n_estimators': 100, 'learning_rate': 0.1}

try:
    cat_mlm_search = RandomizedSearchCV(CatBoostRegressor(random_state=42, verbose=0), param_distributions=param_dist_cat, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    cat_mlm_search.fit(X_poly, y_mlm)
    best_cat_mlm_params = cat_mlm_search.best_params_
except:
    best_cat_mlm_params = {'iterations': 100, 'learning_rate': 0.1, 'depth': 10}

try:
    cat_hlm_search = RandomizedSearchCV(CatBoostRegressor(random_state=42, verbose=0), param_distributions=param_dist_cat, n_iter=1, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
    cat_hlm_search.fit(X_poly, y_hlm)
    best_cat_hlm_params = cat_hlm_search.best_params_
except:
    best_cat_hlm_params = {'iterations': 100, 'learning_rate': 0.1, 'depth': 10}

best_rf_mlm_params, best_rf_hlm_params, best_gbr_mlm_params, best_gbr_hlm_params, best_cat_mlm_params, best_cat_hlm_params

({'n_estimators': 100, 'max_depth': 10},
 {'n_estimators': 100, 'max_depth': 10},
 {'n_estimators': 100, 'learning_rate': 0.1},
 {'n_estimators': 100, 'learning_rate': 0.1},
 {'learning_rate': 0.1, 'iterations': 100, 'depth': 10},
 {'learning_rate': 0.1, 'iterations': 100, 'depth': 10})

In [5]:
import pandas as pd
import numpy as np
import datamol as dm

from rdkit.Chem import SaltRemover
from molfeat.trans.fp import FPVecTransformer
from molfeat.trans.concat import FeatConcat
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from pycaret.regression import *

In [6]:
ETC_COLUMNS = ["AlogP", "Molecular_Weight", "Num_H_Acceptors", "Num_H_Donors", "Num_RotatableBonds", "LogD", "Molecular_PolarSurfaceArea"]
AVAILABLE_FPS = ['maccs', 'avalon', 'ecfp', 'fcfp', 'topological', 'atompair', 'rdkit', 'pattern', 'layered', 'secfp', 'erg', 'estate', 'avalon-count', 'rdkit-count', 'ecfp-count', 'fcfp-count', 'topological-count', 'atompair-count',
                 'cats2D', 'pharm2D', 'scaffoldkeys', 'skeys']
MODEL = "v9_2"
SEED = 42

dm.disable_rdkit_log()

In [7]:
def preprocess_mol(row):
    mol = dm.to_mol(row["SMILES"], ordered=True)
    mol = dm.fix_mol(mol)
    mol = dm.sanitize_mol(mol, sanifix=True, charge_neutral=False)
    mol = dm.standardize_mol(
        mol,
        disconnect_metals=False,
        normalize=True,
        reionize=True,
        uncharge=False,
        stereo=True,
    )

    #mol = SaltRemover.SaltRemover().StripMol(mol, dontRemoveEverything=True)    
    row["Standard_Smiles"] = dm.to_smiles(mol)
    
    return row

def fill_na(df, imputer=None):
    if imputer is None:
        imputer = IterativeImputer(estimator=RandomForestRegressor(n_jobs=-1), random_state=SEED)        
        df[ETC_COLUMNS] = imputer.fit_transform(df[ETC_COLUMNS].to_numpy())
    
        return pd.DataFrame(df), imputer
    else:
        df[ETC_COLUMNS] = imputer.transform(df[ETC_COLUMNS].to_numpy())
    
        return pd.DataFrame(df)

def extract_features(df):    
    _df = df.apply(preprocess_mol, axis=1)
    
    fps = []
    for fp in AVAILABLE_FPS:
        fps.append(FPVecTransformer(fp, dtype=np.float64, n_jobs=-1))
    
    featurizer = FeatConcat(fps, dtype=np.float64)
    smiles = _df["Standard_Smiles"].to_list()
    descriptors = featurizer(smiles)
            
    etcs = _df[ETC_COLUMNS].to_numpy()
    
    return pd.DataFrame(np.concatenate([descriptors, etcs], axis=1))

In [8]:
df_train = pd.read_csv("./data/train.csv").drop(columns=["id"], axis=1)

df_train["MLM"] = df_train.groupby(by=["SMILES"])["MLM"].transform("max")
df_train["HLM"] = df_train.groupby(by=["SMILES"])["HLM"].transform("max")
df_train = df_train.drop_duplicates().reset_index(drop=True)

In [9]:
df, imputer = fill_na(df_train)
df = extract_features(df)

df[["MLM", "HLM"]] = df_train[["MLM", "HLM"]]

In [13]:
def train(df, target="MLM"):    
    _df = df.drop(columns=["MLM", "HLM"], axis=1).copy()
    _df[target] = df[target]    
    _setup = setup(data=_df, target=target, train_size=0.8, session_id=SEED, transformation=False, normalize=False, use_gpu=False)
    
    _compare_models = compare_models(sort="RMSE", include=["rf", "catboost"], n_select=2)
    tuned_models = [tune_model(model, optimize="RMSE") for model in _compare_models]    
    
    blender = blend_models(tuned_models, optimize="RMSE")
    save_model(blender, f"./models/blender_{target}_{MODEL}")

In [14]:
train(df, target="MLM")
train(df, target="HLM")

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Transformation Pipeline and Model Successfully Saved

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Transformation Pipeline and Model Successfully Saved

In [15]:
def predict(df):    
    blender_MLM = load_model(f"./models/blender_MLM_{MODEL}")
    blender_HLM = load_model(f"./models/blender_HLM_{MODEL}")    
    
    pred_MLM = predict_model(blender_MLM, df)
    pred_HLM = predict_model(blender_HLM, df)
    
    return pred_MLM, pred_HLM

In [16]:
df_test = pd.read_csv("./data/test.csv").drop(columns=["id"])
df = fill_na(df_test, imputer)
df = extract_features(df)

pred_MLM, pred_HLM = predict(df)

Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded

In [17]:
df_submission = pd.read_csv("./submission/sample_submission.csv")
df_submission["MLM"] = pred_MLM["prediction_label"]
df_submission["HLM"] = pred_HLM["prediction_label"]
df_submission.to_csv(f"./submission/{MODEL}_0917.csv", index=False)